<aside>
        <section class="Inventario">
            <div class="Oferta">
                <h1>QUÉ OFRECEMOS</h1>
                <br><P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aspernatur pariatur corporis esse, est impedit ducimus quo, placeat ipsam aliquam dignissimos repellat fugit optio nostrum temporibus? Sunt doloremque repellat tenetur.</P>
                <br><button>INVENTARIO</button>
            </div>
            <div class="Producto1">
                <img src="/assets/img/depositphotos_301593740-stock-photo-green-old-bonsai-tree-isolated.jpg" alt=""></img>
                <p>{{Producto1 1}}</p>
                <p>{{Producto1 2}}</p>
            </div>
            <div class="Producto2">
                    <img src="/assets/img/51263383-tomate-brotes-jóvenes-en-un-macetas-de-jardín-aislado-en-un-fondo-blanco.jpg" alt=""></img>
                <p>{{Producto2 1}}</p>
                <p>{{Producto2 2}}</p>
            </div>
            <div class="Producto3">
                <img src="../../assets/img/cactus-minimalism-plant-pot.jpg" alt=""></img>
                <lp>{{Producto3 1}}</p>
                <p>{{Producto3 2}}</p>
            </div>
        </section>
</aside>